@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background: #111827;
  color: white;
  font-family: Inter, sans-serif;
}
body {
  background-color: #111827;
}

.grid-bg {
  background-image:
    linear-gradient(
      rgba(255,255,255,0.015) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(255,255,255,0.015) 1px,
      transparent 1px
    );

  background-size: 40px 40px;
}